<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to OpenShift</title>

</head>
<body>
  <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat numquam, dolorem, rem pariatur provident nulla sint laboriosam, animi error eos itaque veritatis tempora! Illum similique, accusamus aut facere labore illo?</h1>


  <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium alias nulla quos temporibus autem modi repellat quaerat qui consectetur unde aut, reiciendis consequatur voluptas aperiam sit ipsa soluta minima veritatis.</h2>
  
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quam quis quod. Provident beatae quod voluptates totam eaque quibusdam obcaecati, tempora deserunt voluptatibus alias, accusantium, atque voluptatem suscipit libero deleniti?</h3>

</body>
</html>
